header{
  position: relative;
  background-image: url("https://beiz.jp/images_T/white/white_00081.jpg");
  background-size: cover;
  height:600px;

  & .top{
    position: absolute;
    top:20px;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
    height:50px;
  }
  & .main{
    position: absolute;
    top:350px;
    left:50%;
    transform: translate(-50%, -50%);
    width:400px;
  }
  & .bottom{
    position: absolute;
    top:180px;
    left:50%;
    transform: translate(-50%, -50%);
    width:500px;
  }
  & .last{
    position: absolute;
    top:500px;
    left:50%;
    transform: translate(-50%, -50%);
    width:400px;
    height:100px;

    &:hover{
      opacity: 0.7;
      transition-duration:0.3s ;
    }
  }
}
.own{
 position: relative;
 top:200px;

 & .challenge{
  position: absolute;
  top:10px;
  left:50%;
  transform: translate(-50%, -50%);
  width:350px;
 }
 & .old{
  position: absolute;
  top:370px;
  left:50%;
  transform: translate(-50%, -50%);
  width:100%;
  height:230px;
 }
 & .pinch{
  position: absolute;
  top:590px;
  left:50%;
  transform: translate(-50%, -50%);
  width:360px;
 }
}
.two{
  background-image: url("https://beiz.jp/images_T/white/white_00081.jpg");
  position: relative;
  top:900px;
  height:650px;
  & .Pinch{
   position: absolute;
   top:85px;
   left:50%;
   transform: translate(-50%, -50%);
   width:340px;
   height:130px;
  }
  .flex{
    position: absolute;
    top:400px;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    
   & .a{
     width: 700px;
     padding-top:10px;
   }
  }
}
.three{
 position: relative;
 top:300px;

 & .red{
  position: absolute;
  top:700px;
  left:50%;
  transform: translate(-50%, -50%);
  width:350px;
 }
 & .find{
  position: absolute;
  top:950px;
  left:50%;
  transform: translate(-50%, -50%);
  width:350px;
 }
 & .video{
  position: absolute;
  top:1205px;
  left:50%;
  transform: translate(-50%, -50%);
  width:350px;
 }
 & .wow{
  position: absolute;
  top:1400px;
  left:50%;
  transform: translate(-60%, -50%);
  width:300px;
 }
 & .purple{
  position: absolute;
  top:1750px;
  left:50%;
  transform: translate(-50%, -50%);
  width:370px;
 }
}
.four{
  position: relative;
  top:2220px;
  height:980px;
  background-image: url("https://www.colordic.org/image/eae8e1.png");

  & .tred{
   position: absolute;
   top:190px;
   left:50%;
   transform: translate(-50%, -50%);
   width:350px;
  }
  & .title{
   position: absolute;
   top:400px;
   left:50%;
   transform: translate(-50%, -50%);
   width:330px;
  }
  & .cat{
   position: absolute;
   top:700px;
   left:50%;
   transform: translate(-50%, -50%);
   width:350px;
  }
  & .btn{
   position: absolute;
   top:820px;
   left:50%;
   transform: translate(-50%, -50%);
   width:300px;

   &:hover{
     opacity: 0.7;
     transition-duration: 0.3s;
   }
  }

}
.five{
  position: relative;
  top:2220px;
  background-image: url("https://pictkan.com/uploads/cache/1251982029/lipstick-791761_1920-400x270-MM-100.jpg");
  background-size:cover ;
  height:450px;
  & .love{
   position: absolute;
   top:70px;
   left:50%;
   transform: translate(-50%, -50%);
   width:300px;
  }
  & .ten-year{
   position: absolute;
   top:250px;
   left:50%;
   transform: translate(-50%, -50%);
   width:330px;
  }
}
.six{
  position: relative;
  top:2200px;
  height:200px;
  background-image: url("https://girlydrop.com/wp-content/uploads/post/p1488.jpg");
  & .like{
    position: absolute;
    top:100px;
    left:50%;
    width:372px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding:20px;
  }
}
.seven{
  position: relative;
  top:2200px;
  background-image: url("https://www.beiz.jp/images_M/twinkle/twinkle_00284.jpg");
  height:2000px;
  background-size:cover;
  & .happy{
   position: absolute;
   top:50px;
   left:50%;
   transform: translate(-50%, -50%);
   width:320px;
  }
  .flex{
    position: absolute;
    top:1000px;
    left:50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    width:300px;
   
    & img{
      padding-top: 40px;
    }
  }
}
.eight{
  position: relative;
  top:2195px;
  height:1200px;
  background-image: url("https://beiz.jp/images_T/white/white_00081.jpg");
  
  & .smell{
  position: absolute;
  top:80px;
  left:50%;
  transform: translate(-50%, -50%);
  width:300px;
  }
  & .flower{
    position: absolute;
    top:260px;
    left:50%;
    transform: translate(-50%, -50%);
    width:350px;
  }
  & .really{
    position: absolute;
    top:450px;
    left:50%;
    transform: translate(-50%, -50%);
    width:300px;
  }
  & .ex{
    position: absolute;
    top:700px;
    left:50%;
    transform: translate(-50%, -50%);
    width:300px;
  }
  & .redy{
    position: absolute;
    top:1000px;
    left:50%;
    transform: translate(-50%, -50%);
    width:300px;
  }
}
.nine{
  position: relative;
  top:2190px;
  height:850px;
  background-image: url("https://www.colordic.org/image/eae8e1.png");
  & .topic{
  position: absolute;
  top:50px;
  left:50%;
  transform: translate(-50%, -50%);
  width:300px;
  }
  & .bin{
  position: absolute;
  top:200px;
  left:50%;
  transform: translate(-50%, -50%);
  width:340px;
  }
  & .howto{
    position: absolute;
    top:360px;
    left:50%;
    transform: translate(-50%, -50%);
    width:300px;
  }
  & .rip{
    position: absolute;
    top:500px;
    left:50%;
    transform: translate(-50%, -50%);
    width:300px;
  }
  & .video{
    position: absolute;
    top:700px;
    left:50%;
    transform: translate(-50%, -50%);
    width:330px;
  }
}
.ten{
  position: relative;
  top:2100px;
  & .okamoto{
    position: absolute;
    top:150px;
    left:50%;
    transform: translate(-50%, -50%);
    width:300px;
  }
  & .child{
    position: absolute;
    top:350px;
    left:50%;
    transform: translate(-50%, -50%);
    width:350px;
  }
  & .childen{
    position: absolute;
    top:650px;
    left:50%;
    transform: translate(-50%, -50%);
    width:350px;
  }
}
.eleven{
  position: relative;
  top:2900px;
  background-image: url("https://www.colordic.org/image/eae8e1.png");
  height:900px;
  
  & .change{
   position: absolute;
   top:170px;
   left:50%;
   transform: translate(-50%, -50%);
   width:330px;
  }
  & .blue{
   position: absolute;
   top:360px;
   left:50%;
   transform: translate(-50%, -50%);
   width:300px;
  }
  & .pinch{
    position: absolute;
    top:650px;
    left:50%;
    transform: translate(-50%, -50%);
    width:350px;
  }
  & .green{
    position: absolute;
    top:770px;
    left:50%;
    transform: translate(-50%, -50%);
    width:300px;
    &:hover{
      opacity: 0.7;
      transition-duration: 0.3s;
    }
  }
}
.last{
  position: relative;
  top:2900px;
  background-color:silver ;
  height:180px;

  & img{
   position: absolute;
   top:50px; 
   left:50%;
   transform: translate(-50%, -50%);
   width:70px;
  }
  & p{
    position: absolute;
    top:120px; 
    left:50%;
    transform: translate(-50%, -50%);
    width:340px;
  }
}

// position: absolute;
// top:50%;
// left:50%;
// transform: translate(-50%, -50%);